<h1>Listing arquivos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arquivos.each do |arquivo| %>
  <tr>
    <td><%= arquivo.nome %></td>
    <td><%= link_to 'Show', arquivo %></td>
    <td><%= link_to 'Edit', edit_arquivo_path(arquivo) %></td>
    <td><%= link_to 'Destroy', arquivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arquivo', new_arquivo_path %>
